---
import Layout from "../layouts/Layout.astro";
import HomeContent from "@/components/HomeContent";
---

<Layout title="Spotify Clone - Inicio">
  <div class="relative min-h-screen">
    <HomeContent client:only="react" />
  </div>
</Layout>
