---
import Layout from "@/layouts/Layout.astro";
import SearchComponent from "@/components/SearchComponent";
---

<Layout title="Buscar - Lymic">
  <div class="min-h-screen relative">
    <div class="relative z-10">
      <SearchComponent client:load />
    </div>
  </div>
</Layout>
