---
import Layout from "@/layouts/Layout.astro";
import UploadForm from "@/components/UploadForm";
---

<Layout title="Subir Música - Spotify Clone">
  <div class="min-h-screen relative">
    <div class="relative z-10 container mx-auto px-4 py-12">
      <UploadForm client:load />
    </div>
  </div>
</Layout>
